{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Createdat</th>
                <th>Enabledat</th>
                <th>Lockedat</th>
                <th>Expiredat</th>
                <th>Expiredcredentialsat</th>
                <th>Deletedat</th>
                <th>Username</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.firstName }}</td>
                <td>{{ entity.lastName }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.enabledAt %}{{ entity.enabledAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.lockedAt %}{{ entity.lockedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.expiredAt %}{{ entity.expiredAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.expiredCredentialsAt %}{{ entity.expiredCredentialsAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.deletedAt %}{{ entity.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.password }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('user_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('user_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('user_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
