{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/arteveldecommon/css/bootstrap.min.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/arteveldecommon/js/bootstrap.min.js') }}"></script>
{% endblock %}
